[title="Email"] {
    color: #cac9c9 !important;
}
[title = "Password"]{
    color: #cac9c9 !important;
}
[title = "Full Name"]{
    color: #cac9c9 !important;
}
[title = "Date of birth"]{
    color: #cac9c9 !important;
}
::placeholder{
    color: white !important;
    opacity: 0.5;
}
.toLogIn{
    color: #7d7d7d;
}

/*space for form to sign in*/
.middleSignin{
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #6d6d6d;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #5e5d5d ;
    background-color: #3c3c3c;  
}

.inputForm{
    border: 2px solid #353535;
    background-color: #565656;
    color: #cac9c9;
}

/*or*/
.buttonSignIn{
    color: #616060 !important;
}

/* button */
:where(.SignInButton).ant-btn-primary {
    color: #1f1e1e;
    background-color: #918d8d;
    box-shadow: 0 2px 5px rgba(223, 222, 222, 0.1);
}

:where(.SignInButton).ant-btn-primary:not(:disabled):hover {
    color: #d1d1d1;
    background-color: #272727;
}

button:where(.SignInButton).ant-btn-primary:not(:disabled):hover {
    color: #d1d1d1;
    background-color: #272727;
}
button:where(.SignInButton).ant-btn-primary{
    color: #1f1e1e;
    background-color: #918d8d;
    box-shadow: 0 2px 5px rgba(223, 222, 222, 0.1);
}
/* Input email */
input:where(.inputForm).ant-input:hover{
    border-color: #bebebe;
}

:where(.inputForm).ant-input:focus, :where(.css-dev-only-do-not-override-ed5zg0).ant-input-focused {
    border-color: #bebebe;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
}

/* Input password */
:where(.inputForm).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #bebebe;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
}

:where(.inputForm).ant-input-affix-wrapper >input.ant-input {
    padding: 0;
    font-size: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    color: #cac9c9;
    background-color: #565656;
}

/* date picker */
.ant-picker.css-dev-only-do-not-override-ed5zg0.ant-picker-focused {
    background-color: #565656;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-picker {
    background-color: #565656;
    border: 1px solid #353535;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-picker:hover, :where(.css-dev-only-do-not-override-ed5zg0).ant-picker-focused {
    border-color: #bebebe;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-picker .ant-picker-input >input {
    color: #cac9c9;
}