
/* top page */
:where(.header){
    text-align: left;
    color: #fff !important;
    height: 10% !important;
    padding-inline: 25px !important;
    background-color: #3c3c3c !important;
}

:where(.topName){
    font-family:  "Times New Roman", Times, serif;
    font-size: 25px;
    color: #e7e7e7;
}

/*add new blog */
/*space*/
:where(.newBlog){
    position: absolute;
    top: 85px;
    background-color: rgb(106, 106, 106);
    height: 190px;
    border-radius: 10px;
    padding: 10px;
    width: 83%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 750px;
}

/*title*/
:where(.IputValueBlog).ant-input-affix-wrapper{
    border-color: #b1aeae !important;
}
:where(.IputValueBlog).ant-input{
    color: #e7e7e7 !important;
    background-color: #6a6a6a;
    border-color: #b1aeae;
}
:where(.IputValueBlog).ant-input:focus{
    background-color: #6a6a6a;
    border-color: #b1aeae;
    box-shadow: none;
}
:where(.IputValueBlog).ant-input:hover{
    background-color: #6a6a6a;
    border: 1px solid #ffffff;
}

/*description*/
TextArea:where(TextArea).ant-input {
    background-color: #6a6a6a;
    border-color: #b1aeae !important;
    color: #e7e7e7;
    align-self: center;
    resize: none;
    width: 100%;
    outline: none !important;
}

TextArea:where(TextArea).ant-input:hover {
    border:1px solid #ffffff !important;
    outline: none !important;
}

TextArea:where(TextArea).ant-input:focus {
    border:1px solid #ffffff !important;
    outline: none !important;
}

/*submit*/
button:where(.UpBlogButton).ant-btn-primary:not(:disabled):hover {
    color: #d1d1d1;
    background-color: #272727;
}
button:where(.UpBlogButton).ant-btn-primary{
    color: #1f1e1e;
    background-color: #918d8d;
    box-shadow: 0 2px 5px rgba(223, 222, 222, 0.1);
}

/*div contain blog*/
:where(.showBlog){
    border-radius: 15px 15px 0 0;
    background-color: #42414a;
    position: absolute;
    top: 315px;
    width: 83%;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
    height:max-content;
    min-height: 70%;
    max-width: 750px;
    box-shadow: 0 2px 555px rgba(223, 222, 222, 0.2);
}

/*card blog*/
:where(.blog){
    position: absolute;
    top: 10px;
    left: 10%;
    background-color: rgb(106, 106, 106);
    height: 100px;
    width: 82%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px !important;
}

/*title*/
:where(.css-dev-only-do-not-override-ed5zg0).ant-card .ant-card-meta-title  {
    color: #eeeded;
    font-size:x-large;
}

/*description*/
p {
    white-space-collapse: preserve;
    color: #bdbbbb;
}

/*body card*/
:where(.css-dev-only-do-not-override-ed5zg0).ant-card .ant-card-body {
    padding: 24px;
    border: 2px solid #6a6a6a;
    border-radius: 8px 8px 0 0;
}

/*card*/
:where(.css-dev-only-do-not-override-ed5zg0).ant-card {
    background-color: #242526 !important;
    height: max-content;
}

/*not show border*/
:where(.css-dev-only-do-not-override-ed5zg0).ant-card-bordered{
    border: none;
}





:where(.css-dev-only-do-not-override-ed5zg0).ant-card .ant-card-actions {
    background-color: #6a6a6a;
    border-top: #6a6a6a;
}

:where(.toLogInPage){
    position: absolute;
    bottom: 30px;
    left: 10px;
}
:where(.toSignInPage){
    position: absolute;
    bottom: 10px;
    left: 10px;
}